body {
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 120px;
    padding: 20px;
    width: 250px;
    height: 480px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container form input {
    width: 233px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 30px;
}

.container form .buttons {
    display: flex;
}

.container form .buttons input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.container form .buttons input.equal {
    width: 90px;
}

.container form .buttons input:hover {
    background-color: aqua;
}

.container form .buttons input.operator {
    color: cyan;
    background-color: #84735A;
}